@use "~/styles" as *;

.view {
  align-items: flex-start;
  gap: em(4);

  .checkingModeSwitcher,
  .inputModeSwitcher {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .time,
  .reps,
  .lang {
    display: grid;
    grid-auto-rows: minmax(em(40), auto);
    gap: em(8);
    align-items: center;
  }

  .time {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

  }

}

.wheels {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: em(38);
  gap: em(8);

  svg {
    width: 100%;
  }
}

.units {
  font-weight: 300;
  font-size: em(14);
  line-height: em(40, 14);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--placeholder);
}
