@use '~/styles' as *;

.hint {
  font-weight: 500;
  font-size: em(12);
  line-height: em(40, 12);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: .15em;
  text-transform: uppercase;

  color: var(--placeholder);

  opacity: .5;
}
