@use 'src/styles' as s;

.menu {
  @extend .my-auto;
}

.hint {
  @extend .my-auto;

  font-weight: 500;
  font-size: s.em(12);
  line-height: s.em(40, 12);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: .15em;
  text-transform: uppercase;

  color: var(--placeholder);

  opacity: .5;
}
