@import 'src/styles';

.overview {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.close {
  position: fixed;
  top: 0;
  right: 0;
}
