@use '~/styles' as *;

.view {
  display: flex;
  justify-content: flex-start;
}

.firstFactor {
  font-weight: 300;
  font-size: em(32);
  line-height: em(40, 32);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #959595;
  margin-bottom: 32px;
}

.secondFactor {
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  color: #515871;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  margin-bottom: 32px;

  &:before {
    content: attr(data-content);
    display: block;
    position: absolute;
    color: transparent;
    text-shadow: 0 0 10px #DCDEE8;
  }

  &:after {
    content: attr(data-content);
    display: block;
    position: absolute;
    color: #515871;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
}

.keyboard {
  margin-top: auto;
}

.result {
  margin: auto;
}

.invisible {
  display: none !important;
}
