@use 'src/styles' as *;

.button {
  @extend .p-s3;

  font-size: em(16);
  width: em(48);
  height: em(48);
  background: var(--main);
  border: em(1) solid var(--border);
  box-sizing: border-box;
  box-shadow: em(-5) em(-5) em(10) #FCFCFF, em(5) em(5) em(10) #CFCFEC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.square {
    border-radius: em(5);
  }

  &.circle {
    border-radius: em(48);
  }

  &.limpid {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &:active {
    box-shadow: inset em(1) em(1) em(5) #CED0EC;
  }
}
