@import 'src/styles';

:global(.sm-active) {
  .icon {
    filter: url(#outer_shadow);
    fill: #3B3D47;
  }
}

.container {
  margin-top: rem(4);
}

.icon {
  filter: url(#inner_shadow);
  fill: #C9CDE1;
}