@use 'src/styles' as *;

.switch {
  width: 100%;

  .label {
    @extend .mb-m1;

    font-weight: 200;
    font-size: em(18);
    line-height: em(40, 18);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--title);
  }

  .list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #EAEDFB;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    box-shadow: inset -4px -4px 10px #F4F6FF, inset 4px 4px 10px #DDE0EF;
    overflow: hidden;

    .item {
      display: flex;
      align-items: center;
      flex: 1 1 100%;
      justify-content: center;
      cursor: pointer;
      height: 44px;
      margin: 5px;
      font-weight: 300;
      font-size: 14px;
      line-height: 40px;
      color: #C9CDE1;
      opacity: 0.5;
      border: 1px solid transparent;
      transition: color ease-out 150ms;

      &:global(.active) {
        background: #EAEDFB;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        color: #959595;
        opacity: 1;
        box-shadow: 4px 4px 4px #DBDFF0, inset 4px 4px 10px #F1F4FF;
      }
    }
  }
}
