@use 'src/styles' as *;

.switch {
  width: 100%;

  .label {
    @extend .mb-m1;

    font-weight: 200;
    font-size: em(18);
    line-height: em(40, 18);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--title);
  }

  .list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #EAEDFB;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    box-shadow: inset -4px -4px 10px #F4F6FF, inset 4px 4px 10px #DDE0EF;
    overflow: hidden;
    position: relative;
  }
}

.option {
  list-style: none;
  display: flex;
  flex: 1 1 100%;
  padding: 5px;
  cursor: pointer;

  &Content {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    color: #C9CDE1;
    border: 1px solid transparent;
    transition: color ease-out 150ms;
  }
}

.switcher {
  list-style: none;
  position: absolute;
  padding: 5px;
  z-index: 1;
  cursor: grab;

  &:before {
    content: "";
    cursor: grab;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #DBDFF0, inset 4px 4px 10px #F1F4FF;
  }
}

.option[data-active="true"] .optionContent {
  color: #959595;
}
