@import 'src/fonts/Icomoon/style.css';
@import 'src/fonts/glyphter-font/css/Glyphter.css';

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/light/notosans-light-webfont.eot');
  src: url('../fonts/NotoSans/light/notosans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans/light/notosans-light-webfont.woff2') format('woff2'),
  url('../fonts/NotoSans/light/notosans-light-webfont.woff') format('woff'),
  url('../fonts/NotoSans/light/notosans-light-webfont.ttf') format('truetype'),
  url('../fonts/NotoSans/light/notosans-light-webfont.svg#noto_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/regular/notosans-regular-webfont.eot');
  src: url('../fonts/NotoSans/regular/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans/regular/notosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/NotoSans/regular/notosans-regular-webfont.woff') format('woff'),
  url('../fonts/NotoSans/regular/notosans-regular-webfont.ttf') format('truetype'),
  url('../fonts/NotoSans/regular/notosans-regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/medium/notosans-medium-webfont.eot');
  src: url('../fonts/NotoSans/medium/notosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans/medium/notosans-medium-webfont.woff2') format('woff2'),
  url('../fonts/NotoSans/medium/notosans-medium-webfont.woff') format('woff'),
  url('../fonts/NotoSans/medium/notosans-medium-webfont.ttf') format('truetype'),
  url('../fonts/NotoSans/medium/notosans-medium-webfont.svg#noto_sansmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/bold/notosans-bold-webfont.eot');
  src: url('../fonts/NotoSans/bold/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans/bold/notosans-bold-webfont.woff2') format('woff2'),
  url('../fonts/NotoSans/bold/notosans-bold-webfont.woff') format('woff'),
  url('../fonts/NotoSans/bold/notosans-bold-webfont.ttf') format('truetype'),
  url('../fonts/NotoSans/bold/notosans-bold-webfont.svg#noto_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
