@use '~/styles';

.content {
  @extend .mt-m1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  overflow-y: scroll;
  touch-action: none;
  user-select: none;
}
