.view {
  justify-content: flex-start;
}

.resultValue {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: end;
  text-align: center;
  color: #959595;
  flex: 1 1 25%;
}

.actions {
  display: flex;
  flex: 1 1 25%;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.pieChart {
  flex: 1 1 100%;
}