@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?cxznqy');
  src:  url('icomoon.eot?cxznqy#iefix') format('embedded-opentype'),
    url('icomoon.ttf?cxznqy') format('truetype'),
    url('icomoon.woff?cxznqy') format('woff'),
    url('icomoon.svg?cxznqy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brain:before {
  content: "\e900";
  color: #d9ddee;
}
