.digit {
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: middle;
}

.border {
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: middle;
  stroke-width: 2px;
  paint-order: stroke;
}

.inMind {
  alignment-baseline: middle;
  text-anchor: middle;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  fill: #D9DDEE;
}

.unit {
  display: flex;
  position: relative;
  flex-direction: column;
}

.digitInMind {
  position: absolute;
  top: -100%;
  left: -9px;
}