@use '~/styles' as *;

.calculator {
  margin: auto;
  width: 20vmax;
  height: 20vmax;
}

.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: em(8);

  .calculator {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  > button {
    width: 100%;

    span {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      color: transparent;
      text-shadow: em(1, 24) em(2, 24) em(2, 24) rgba(255, 255, 255, 0.5), 0 0 0 #666;
    }
  }
}
