.protector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3px;

  .line {
    width: 100%;
    height: 2px
  }

  &.L {
    .line {
      background: #EEF1FF;
      box-shadow: -1px -1px 4px #FEFDFD, 1px 1px 4px rgba(212, 212, 212, 0.78);
      margin: 3px 0;
      border-top-left-radius: 99px 1px;
      border-bottom-left-radius: 99px 1px;
      border-top-right-radius: 99px 1px;
      border-bottom-right-radius: 99px 1px;
    }
  }

  &.M,
  &.S {
    .line {
      background: #EAEDFB;
      box-shadow: -1px -1px 2px #D5D5D5, 1px 1px 2px rgba(212, 212, 212, 0.5);
      margin: 2px 0;
      border-top-left-radius: 11px 1px;
      border-bottom-left-radius: 11px 1px;
      border-top-right-radius: 11px 1px;
      border-bottom-right-radius: 11px 1px;
    }
  }
}