@import 'src/styles';

.explanation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: flex ease-in-out 1s;

    &.hidden {
      flex: 0;
    }
  }

  .factor {
    //gap: 6px;
  }

  .doStep {
    text-align: center;
  }

  .keepInMind {
    gap: em(8);
  }

  .result {
    display: flex;
  }
}

.digit {
  height: 40px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: darken(#9241E2, 10%);
  user-select: none;

  &:before {
    content: attr(data-content);
    position: absolute;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    transition: text-shadow ease-in-out .3s;
  }

  &:after {
    content: attr(data-content);
    position: absolute;
    color: transparent;
    text-shadow: 0.05em 0.1em 0.1em rgb(255 255 255 / 25%), 0 0 0 currentColor;
  }

  &.secondary {
    color: #d9ddee;
  }

  &.borderNone {
    &:before {
      text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff;
      transition: text-shadow ease-in-out .3s;
    }
  }
}

.slot {
  position: relative;
  padding: 0 em(3);
  display: flex;
  justify-content: center;

  &.zero {
    > .digit {
      opacity: 0;
    }
  }
}

.twoDigitNumber {
  display: flex;
  justify-content: center;
  padding: 0 em(3);

  .slot {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.parityLabel {
  font-size: em(24);
  color: #959595;
  margin-top: em(4);
}

.addToResult {
  display: flex;
  justify-content: center;
  align-items: center;
}



.minus {
  margin: 0 em(20);
}

.tenMinusDigit {
  display: flex;
  gap: em(20);
}

.ten {
  display: flex;
  gap: em(6);
}

.tenMinusDigitResult {
  display: flex;
  gap: em(6);
}

.number {
  display: flex;
  //gap: em(6);
}

.digit {

}

.brain {
  position: absolute;
  top: -75%;
  left: -25%;
  font-size: em(26);
  &:after {
    top: 0;
    text-shadow: 0.05em 0.1em 0.1em rgb(255 255 255 / 60%), 0 0 0 #D9DDEE;
    display: block;
    content: "\e900";
    position: absolute;
    color: transparent;
    transition: text-shadow ease-in-out .3s;
  }
}
