@import 'src/styles';

.explanation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: flex ease-in-out 1s;

    &.hidden {
      flex: 0;
    }
  }

  .factor {
    gap: 6px;
  }

  .doStep {
    text-align: center;
  }

  .keepInMind {
    gap: em(8);
  }
}

.digit {
  height: 40px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;

  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: #9241E2;
  border: 1px solid #FFFFFF;
}

.parityLabel {
  font-size: em(24);
  color: #959595;
  margin-top: em(4);
}

.addToResult {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ten {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: em(6);
}

.minus {
  margin: 0 em(20);
}