.explanation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  > div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 1s;
  }

  .factor {
    position: absolute;
    display: flex;
    top: 50%;
    transition: all ease-in-out 1s;
    gap: 6px;
  }
}

.digit {
  height: 40px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;

  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: #9241E2;
  border: 1px solid #FFFFFF;
}

.desc {
  position: absolute;
  top: 50%;
  text-align: center;
}

.result {
  position: absolute;
  top: 75%;
}
