@import 'src/styles';

.explanation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: flex ease-in-out 1s;

    &.hidden {
      flex: 0;
    }
  }

  .factor {
    //gap: 6px;
  }

  .doStep {
    text-align: center;
  }

  .keepInMind {
    gap: em(8);
  }

  .result {
    display: flex;
  }
}

.digit {
  height: 40px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;

  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: #9241E2;
  user-select: none;

  &:before {
    content: attr(data-content);
    position: absolute;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  &:after {
    content: attr(data-content);
    position: absolute;
    color: transparent;
    text-shadow: 0.05em 0.1em 0.1em rgb(255 255 255 / 25%), 0 0 0 darken(#9241E2, 10%);
    transition: text-shadow ease-in-out .3s;
  }

  &.secondary {
    &:after {
      text-shadow: 0.05em 0.1em 0.1em rgb(255 255 255 / 25%), 0 0 0 #D9DDEE;
    }
  }
}

.slot {
  padding: 0 em(3);

  &.zero {
    opacity: 0;
  }
}

.parityLabel {
  font-size: em(24);
  color: #959595;
  margin-top: em(4);
}

.addToResult {
  display: flex;
  justify-content: center;
  align-items: center;
}



.minus {
  margin: 0 em(20);
}

.tenMinusDigit {
  display: flex;
  gap: em(20);
}

.ten {
  display: flex;
  gap: em(6);
}

.tenMinusDigitResult {
  display: flex;
  gap: em(6);
}

.number {
  display: flex;
  //gap: em(6);
}

.digit {

}