.explanation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  > div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 1s;
  }

  .factor {
    position: absolute;
    display: flex;
    top: 50%;
    transition: all ease-in-out 1s;
  }
}

.digit {
  height: 30px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;
}

.desc {
  position: absolute;
  top: 50%;
  text-align: center;
}

.result {
  position: absolute;
  top: 75%;
}
