@import 'styles';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  html,
  body {
    min-width: em(360);
    max-width: em(428);
    min-height: em(667);
    max-height: em(926);
  }
}

@media (orientation: landscape) {
  html,
  body {
    min-height: em(360);
    max-height: em(428);
    min-width: em(667);
    max-width: em(926);
  }
}

body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $browser-context * 1px !important;
}

b {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
