@use 'styles' as *;

:root {
  --main: #EAEDFB;
  --border: rgba(255, 255, 255, .4);
  --title: #959595;
  --text: #515871;
  --placeholder: #ADAFBD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
}

#root {
  overflow: hidden;
}

body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $browser-context * 1px !important;
}

b {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
