@font-face {
  font-family: "speed-math";
  src: url('speed-math.eot?t=1771061017108'); /* IE9*/
  src: url('speed-math.eot?t=1771061017108#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('speed-math.woff2?t=1771061017108') format('woff2'),
  url('speed-math.woff?t=1771061017108') format('woff'),
  url('speed-math.ttf?t=1771061017108') format('truetype'),
  url('speed-math.svg?t=1771061017108') format('svg');
}

[class^="speed-math-"], [class*=" speed-math-"] {
  font-family: 'speed-math' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.speed-math-back::before { content: "\ea01"; }
.speed-math-easy::before { content: "\ea02"; }
.speed-math-hard::before { content: "\ea03"; }
.speed-math-info::before { content: "\ea04"; }
.speed-math-medium::before { content: "\ea05"; }
.speed-math-minutes-sholder::before { content: "\ea06"; }
.speed-math-n::before { content: "\ea07"; }
.speed-math-play::before { content: "\ea08"; }
.speed-math-seconds-sholder::before { content: "\ea09"; }
.speed-math-settings::before { content: "\ea0a"; }
.speed-math-timer::before { content: "\ea0b"; }
.speed-math-world::before { content: "\ea0c"; }


$speed-math-back: '\ea01';
$speed-math-easy: '\ea02';
$speed-math-hard: '\ea03';
$speed-math-info: '\ea04';
$speed-math-medium: '\ea05';
$speed-math-minutes-sholder: '\ea06';
$speed-math-n: '\ea07';
$speed-math-play: '\ea08';
$speed-math-seconds-sholder: '\ea09';
$speed-math-settings: '\ea0a';
$speed-math-timer: '\ea0b';
$speed-math-world: '\ea0c';
